# Contract node_modules/

SmartContract/node_modules

*/node_modules/

SmartContract/ERC20/node_modules

# Contract builds

SmartContract/build

# DS_STORE

.DS_STORE

# Private chain data

PrivateTestnet/test
PrivateTestnet/geth
PrivateTestnet/accounts.json
PrivateTestnet/keystore
PrivateTestnet/password.sec

# Infura API key

Web3Introduction/examples/infura.json






